<!DOCTYPE html>
<html>
    <div class="container">
        <div class="row">
            <div class="col-lg-8  offset-lg-2">
                <h3 class="mt-5">Deteksi kantuk</h3>
                <link rel="icon" href="/images/icon.png">
                <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" crossorigin="anonymous">
                <img src="{{ url_for('video_feed') }}" width="100%">
                <style>
                    h3{
                        background-color: rgb(255, 255, 255);
                        color: crimson;
                        font-family:unset;
                        text-align: center;
                        width: 45%;
                        margin:auto;
                        padding: 20px;
                        }
                    
                    
                </style>
            </div>

        </div>
    </div>
    </body>


</html>